$primary-color:#607C7D;


body{
    width: 100vw;
    height: 100vh;
    background-color:#CBDDDE;
}


.header{
    width: 50%;
    height: 10%;
    background-color: white;
    color:$primary-color;
    text-align: center;
    display: block;
    margin: auto;
    border-radius: 15px;
    margin-top: 20px;
    h1{
        padding-top: 15px;
    }
}

.main{
    background-color: white;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-top: 20px;
    .search{
        display: flex;
        justify-content: center;
        height: 30%;
        align-items: center;
        justify-content: space-evenly;
        .btn{
            background-color: $primary-color;
            color: white;
        }
    }
    
    .result{
        font-size:24px;
        text-align: center;
        word-wrap: break-word;
        margin:20px 20px;
    }
    
}



