$primary-color:#607C7D;

body{
    width: 100vw;
    height: 100vh;
    background-color:#CBDDDE;
}




.header{
    width: 40%;
    height: 10%;
    background-color: white;
    margin-bottom: 20px;
    h1{
        color:$primary-color;
    }
}

.main{
    width: 40%;
    height: 7%;
    background-color: white;
    .btn{
        background-color: $primary-color;
        color:white;
    }
    .result{
        width: 280px;
        height: 20px;
        background-color: lightblue;
    }
}


